
td{

  
    border: solid 2px black; 
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:15px;
    padding-right: 15px;
}

table{
   border-spacing:10px;
  
}
body{
margin-top: 20%;margin-left: 20%;}