a{

    text-decoration: underline;
    color: red;
}

body{
 margin-top: 20%;margin-left: 10%;margin-right: 10%;font-size:200%; 
}

.OrangeSpan{

    text-decoration: underline;color: darkorange; }


  li{
    color:blue;
  }

  .ColorBLack{

    color: black;
  }